<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :subject_id %>
    <%= form.text_field :subject_id, id: :card_subject_id %>
  </div>

  <div class="field">
    <%= form.label :front %>
    <%= form.text_field :front, id: :card_front %>
  </div>

  <div class="field">
    <%= form.label :back %>
    <%= form.text_field :back, id: :card_back %>
  </div>

  <div class="field">
    <%= form.label :memorizing_level %>
    <%= form.number_field :memorizing_level, id: :card_memorizing_level %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
